DATABASE_URL=postgresql://neondb_owner:npg_5kzYEuH8nRvU@ep-spring-wildflower-aywgpuyf-pooler.c-5.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require
JWT_SECRET=92093e204d1d1fe25c9b6cc02e0b3ca6da8dc5dd7d064624b09363bf7ea19253553631337ceab30943ef089e4366cc53
GEMINI_API_KEY=AQ.Ab8RN6JGHC27T9rBsLMr66bORwCaWkhDFwoQRvzpMXkVyw1WEQ
IPINFO_TOKEN=9bcdc5ff893bf3
FLW_SECRET_KEY=FLWSECK-371889c085c7cbb44b52ea6fbecca1ac-1a035b4ac1bvt-X
FLW_PUBLIC_KEY=FLWPUBK-37de6f85960ab562bdf30ea0b8116bda-X
FLW_WEBHOOK_HASH=cd3ecf8d60e8c66bf5eaed8e20be604f4f5eba9a4e96b9ca08af60948a5d7a41
FLW_PLAN_NIGERIA=167497
FLW_PLAN_AFRICA=167498
FLW_PLAN_ROW=167500
CLIENT_URL=http://localhost:3000
PORT=3000
NODE_ENV=development